include ../checkbox/checkbox
- var checkboxList = []
mixin checkboxList(title)
  .checkbox-list
    .checkbox-list__title= title
    .checkbox-list__body 
      each item in checkboxList
        +checkbox(item)