include ../checkbox/checkbox
- var richCheckboxList = []
mixin richCheckboxList(title)
  .rich-checkbox-list
    .rich-checkbox-list__title= title
    .rich-checkbox-list__body
      each item in richCheckboxList
        +richCheckbox(item) 
