.dropdown {
  position: relative;
  max-width: 320px;
  min-width: 266px;
  &__label {
    position: relative;
    font-size: 12px;
    line-height: 15px;
    color: $dark;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__select {
    position: relative;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 266px;
    height: 44px;
    background-color: #fff;
    border: 1px solid $dark25;
    border-radius: 4px;
    padding: 12px 44px 12px 15px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: $dark75;
    cursor: pointer;
    transition: all 0.5s ease;
    &:after {
      content: '\e5cf';
      position: absolute;
      top: 13px;
      right: 10px;
      font-size: 24px;
      font-family: "Material Icons";
      color: $dark50;
    }
    &:hover, &:focus, &.active {
      border-color: $dark50;
    }
    &.active {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      &:after {
        color: $dark75;
      }
    }
  }
  &__body {
    position: absolute;
    overflow: hidden;
    top: 64px;
    z-index: 2;
    max-height: 0;
    left: 0;
    width: 266px;
    margin-top: -4px;
    border: 1px solid $dark50;
    border-top: none;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba($dark, 0.05);
    padding: 0px 7px 0px 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all 0.5s ease;
    &.active {
      max-height: 200px;
    }
  }
  &__list {
    list-style-type: none;
    padding-top: 4px;
    margin: 0;
    padding-left: 0;
  }
  &__item {
    text-transform: uppercase;
    font-weight: 700;
    color: $dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
    &:last-child {
      margin-bottom: 7px;
    }
    &-title {
      font-size: 12px;
      line-height: 15px;
      flex: 1 1;
    }
    &-count {
      text-align: center;
      width: 32px;
    }
    button {
      font-size: 18px;
      line-height: 1;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid $dark50;
      background: #fff;
      color: $dark50;
      &:disabled {
        color: $dark25;
        border-color: $dark25;
      }
    }
  }
  &__buttons {
    margin-top: 20px;
    margin-bottom: 7px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}