@import 'variables';

h1 {
  font-size: 24px;
  line-height: 29px;
  color: $dark;
  font-weight: 700;
}
h2 {
  font-size: 19px;
  line-height: 23px;
  font-weight: 700;
  color: $dark;
}
h3 {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: $dark;
}
