$dark: #1F2041;
$dark75: rgba(#1F2041, 0.75);
$dark50: rgba(#1F2041, 0.50);
$dark25: rgba(#1F2041, 0.25);
$dark5: rgba(#1F2041, 0.5);
$purple: #BC9CFF;
$purpleGradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$green: #6fcf97;
$greenGradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);