@import "../ui-kit";

.like {
  width: 40px;
  display: inline-block;
  position: relative;
  &__input {
    position: absolute;
    left: -999px;
    opacity: 0;
    &:checked+.like__label:before {
      content: '\e87d';
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      border-color: $purple;
    }
    &:checked+.like__label {
      color: $purple
    }
  }
  &__count {
    position: absolute;
    top: 0px;
    left: 0;
  }
  &__label {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 10px;
    color: $dark25;
    cursor: pointer;
    line-height: 18px;
    &:before {
      position: absolute;
      content: '\e87e';
      font-size: 12px;
      font-family: "Material Icons";
      display: inline-block;
      width: 40px;
      left: 0;
      height: 20px;
      border: 1px solid $dark25;
      border-radius: 10px;
      margin-right: 10px;
      padding-left: 3px;
      transition: all 0.2s ease-in-out;
    }
  }
}