include ../checkbox/checkbox
mixin checkboxListExpandable(title)
  .checkbox-list-expandable
    .checkbox-list-expandable__title= title
    .checkbox-list-expandable__body 
      +checkbox("Завтрак", "breakfast")
      +checkbox("Письменный стол", "desk")
      +checkbox("Стул для кормления", "feeding-chair")
      +checkbox("Кроватка", "crib")
      +checkbox("Телевизор", "television")
      +checkbox("Шампунь", "shampoo")
