include ../date-dropdown/date-dropdown
include ../dropdown/dropdown
include ../buttons/buttons
.selection-card
  h1.selection-card__title Найдём номера под ваши пожелания
  +dateDropdown("прибытие", "выезд", "date-dropdown-3")
  +dropdownPeople("гости", "people-3")
  +btnBig("подобрать номер")