mixin optionInfo(icon, title, description)
  .option-info 
    .option-info__icon.material-icons= icon 
    .option-info__body 
      .option-info__title= title 
      .option-info__description= description