mixin rate(value)
  .rate
    .rate__body
      .rate__active 
      .rate__items 
        input(type="radio" value="1" ).rate__item
        input(type="radio" value="2" ).rate__item
        input(type="radio" value="3" ).rate__item
        input(type="radio" value="4" ).rate__item
        input(type="radio" value="5" ).rate__item
    .rate__value= value