mixin checkbox( data )
  .checkbox
    input(type="checkbox" id= data.id).checkbox__input
    label(for= data.id).checkbox__label= data.name 
      
mixin richCheckbox( data )
  .checkbox-rich
    input(type="checkbox" id= data.id).checkbox-rich__input
    label(for= data.id).checkbox-rich__label= data.name 
    .checkbox-rich__text= data.text