@import "../../variables";

.btn {
  display: inline-block;
  position: relative;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border: transparent;
  background: #fff;
  color: #fff;
  padding: 0;
  &_filter {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background: $purpleGradient;
    &:before {
      content: '\e429';
      font-family: "Material Icons";
      z-index: 25;
      position: absolute;
      font-size: 24px;
      line-height: 44px;
      color: #fff;
      top: 0;
      left: 0;
      width: 44px;
      height: 44px;
      border-radius: 22px;
    }
  }
  &_big {
    width: 320px;
    height: 44px;
    line-height: 44px;
    border-radius: 22px;
    text-decoration: none;
    background: $purpleGradient;
    transition: 0.5s ease;
    &:hover, &:focus {
      color: #fff;
      background: $greenGradient;
    }
  }
  i {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  &_small {
    padding: 14.5px 20px;
    border-radius: 22px;
    text-decoration: none;
    background: $purpleGradient;
    transition: 0.5s ease;
    &:hover, &:focus {
      color: #fff;
      background: $greenGradient;
    }
    &_disabled {
      opacity: 0.5;
      pointer-events: none;
      cursor: default;
    }
  }
  &_border {
    position: relative;
    border: 2px solid transparent;
    border-radius: 22px;
    padding: 11.5px 17px;
    border-radius: 22px;
    text-decoration: none;
    margin: 2px;
    color: $purple;
    background: #fff;
    &:hover, &:focus {
      color: $green;
      &:before {
        background: $greenGradient;
      }
    }
    &:before {
      content: '';
      z-index: -1;
      border-radius: 22px;
      position: absolute;
      top: -4px;
      left: -4px;
      right: -4px;
      bottom: -4px;
      background: $purpleGradient;
    }
    &_disabled {
      opacity: 1;
      pointer-events: none;
      cursor: default;
      // color: rgba($purple, 0.5);
      &:before {
        opacity: 0.5;
      }
    }
  }
  &_text {
    padding: 0;
    border: none;
    height: 15px;
    color: $purple;
    &:hover, &:focus {
      color: $green;
    }
    &:disabled {
      color: $dark50;
    }
  }
}
