mixin dropdownRooms(label)
  .dropdown.dropdown-rooms
    .dropdown__label= label
    .dropdown__select 2 спальни, 2 кровати...
    .dropdown__body 
      ul.dropdown__list
        li.dropdown__item 
          span.dropdown__item-title спальни
          button.btn-minus -
          span.dropdown__item-count 2
          button.btn-plus +
        li.dropdown__item 
          span.dropdown__item-title кровати
          button.btn-minus -
          span.dropdown__item-count 2
          button.btn-plus +
        li.dropdown__item 
          span.dropdown__item-title ванные комнаты
          button.btn-minus -
          span.dropdown__item-count 0
          button.btn-plus +

mixin dropdownPeople(label)
  .dropdown.dropdown-people
    .dropdown__label= label
    .dropdown__select сколько гостей
    .dropdown__body 
      ul.dropdown__list
        li.dropdown__item 
          span.dropdown__item-title взрослые
          button.btn-minus -
          span.dropdown__item-count 0
          button.btn-plus +
        li.dropdown__item 
          span.dropdown__item-title дети
          button.btn-minus -
          span.dropdown__item-count 0
          button.btn-plus +
        li.dropdown__item 
          span.dropdown__item-title младенцы
          button.btn-minus -
          span.dropdown__item-count 0
          button.btn-plus +
      .dropdown__buttons 
        +btnText("Применить")
        +btnText("Очистить")
