@import '../blocks/ui-kit/variables.scss';

.landing-page {
  background: url('../images/dist/landing1.jpg') no-repeat center;
  &__container {
    position: relative;
    padding-top: 140px;
    max-width: 1440px;
    height: 900px;
    @include media-breakpoint-down(sm) {
      padding-top: 210px;
      display: flex;
      justify-content: center;
      .selection-card {
        align-self: start;
      }
    }
  }
  &__description {
    position: absolute;
    width: 300px;
    bottom: 20px;
    right: 0;
    text-align: right;
    color: $dark75;
  }
}