
include ../blocks/header/header.pug
block content 
  .landing-page 
    .landing-page__container.container 
      include ../blocks/ui-kit/selection-card/selection-card
      .landing-page__description Лучшие номера для вашей работы, отдыха и просто вдохновения
include ../blocks/footer/footer.pug

    