include ../blocks/ui-kit/mixins/text-field/text-field
include ../blocks/ui-kit/mixins/dropdown/dropdown
include ../blocks/ui-kit/mixins/date-dropdown/date-dropdown
include ../blocks/ui-kit/mixins/filter-date-dropdown/filter-date-dropdown
include ../blocks/ui-kit/mixins/subscription-text-field/subscription-text-field
include ../blocks/ui-kit/mixins/checkbox/checkbox
include ../blocks/ui-kit/mixins/radio/radio
include ../blocks/ui-kit/mixins/toggle/toggle
include ../blocks/ui-kit/mixins/like/like
include ../blocks/ui-kit/mixins/range-slider/range-slider
include ../blocks/ui-kit/mixins/buttons/buttons
include ../blocks/ui-kit/mixins/checkbox-list/checkbox-list
include ../blocks/ui-kit/mixins/checkbox-list-expandable/checkbox-list-expandable
include ../blocks/ui-kit/mixins/rich-checkbox-list/rich-checkbox-list
include ../blocks/ui-kit/mixins/bullet-list/bullet-list
include ../blocks/ui-kit/mixins/option-info/option-info
include ../blocks/ui-kit/mixins/review/review
include ../blocks/ui-kit/mixins/rate/rate
include ../blocks/ui-kit/mixins/room/room

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/main.min.css")
    title Toxin
  body

block content
  include ../blocks/header/header
  .container
    br 
    h2 Colors & Type
    br
    h1 H1 This one is the sub-section or widget title
    h2 H2 Next one is the item title inside widgets
    h3 H3 This is a label or CTA text
    p BODY Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis assumenda nam temporibus perferendis animi dignissimos vitae eius sapiente at. Odit nesciunt rerum dolores culpa! Aut modi delectus corporis a maiores!
    br
    h2 Form Elements 
    br
    +textField("text field", "name", "Name")
    br
    br
    +dropdownPeople("dropdown")
    br
    br
    +maskedTextField("masked text field", "birthday", "ДД.ММ.ГГГГ")
    br
    br
    +dateDropdown("date dropdown", "date dropdown", "date-dropdown-1")
    br
    br
    +filterDateDropdown("filter date dropdown", "filter-date-dropdown-1")
    br
    br
    +subscriptionTextField("Email")
    br
    br
    +dropdownRooms("dropdown")
    br
    br
    - var checkboxList = [{name: 'Можно курить', id: 'smoke'},{name: 'Можно с питомцами', id: 'pets'},{name: 'Можно пригласить гостей (до 10 человек)', id: 'party'}]
    +checkboxList("checkbox buttons")
    br
    br
    - var checkboxListExpandable = [{name: 'Завтрак', id: 'breakfast'}, {name: 'Письменный стол', id: 'desk'}, {name: 'Стул для кормления', id: 'feeding-chair'}, {name: 'Кроватка', id: 'crib'}, {name: 'Телевизор', id: 'television'}, {name: 'Шампунь', id: 'shampoo'}]
    +checkboxListExpandable("expandable checkbox list")
    br
    h3 ratio buttons
    br
    +radio("Мужчина", "radio", 'm', "r1")
    +radio("Женщина", "radio", "w", "r2")
    br
    br
    h3 toggle 
    br
    +toggle("Получить спецпедложение", "bonus")
    br
    h3 like button
    br
    +like("like", "12")
    br
    br
    h3 rate button
    +rate("4")
    br
    +rate("5")
    br
    br
    +rangeSlider("Range Slider", "rangePrice", "rangePriceValue")
    br
    h3 buttons
    br
    +btnSmall("Click me", "")
    +btnSmall("Click me", "", true)
    br
    br
    +btnSmallBorder("Click me", "")
    +btnSmallBorder("Click me", "", true)
    br
    br
    +btnText("Click me")
    +btnText("Click me", true)
    br
    br
    +btnBig("Перейти к оплате", "", true)
    br
    br
    h3 pagination
    br
    include ../blocks/ui-kit/pagination/pagination
    br
    br
    - var richCheckboxList = [{name: 'Широкий коридор', id: 'ggg', text: 'Ширина коридоров в номере не менее 91 см.'}, {name: 'Помощник для инвалидов', id: 'rrr', text: 'На 1 этаже вас встретит специалист  и проводит до номера.'}]
    +richCheckboxList("rich Checkbox Buttons")
    br
    br
    h3 bullet list
    +bulletList("Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00")
    br
    br
    .div 
      +optionInfo("insert_emoticon", "Комфорт", "Шумопоглощающие стены")
      +optionInfo("location_city", "Удобство", "Окно в каждой из спален")
      +optionInfo("whatshot", "Уют", "Номер оснащён камином")
    br
    br
    +review("images/dist/review.jpg", "Мурад Сарафанов", "5 дней назад", "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.", "12")
    br
    h2 Cards
    br
    include ../blocks/ui-kit/selection-card/selection-card
    br
    include ../blocks/ui-kit/booking-card/booking-card
    br
    include ../blocks/ui-kit/registration-card/registration-card
    br
    include ../blocks/ui-kit/signin-card/signin-card
    br
    +room("888", "9 999", "5", "145", true)
    br
    +room("840", "9 999", "4", "65")
  
  include ../blocks/footer/footer