mixin filterDateDropdown(label, name)
  .filter-date-dropdown
    label.filter-date-dropdown__label(for=name)= label
    select.filter-date-dropdown__select(id=name)
      option 19 авг - 23 авг
    i.material-icons.filter-date-dropdown__arrow expand_more