@import "../ui-kit";

.filter-date-dropdown {
  position: relative;
  width: 266px;
  &__label {
    font-size: 12px;
    line-height: 15px;
    color: $dark;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__input {
    position: relative;
    width: 100%;
    height: 44px;
    border: 1px solid $dark25;
    border-radius: 4px;
    padding: 12px 44px 12px 15px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: $dark75;
    cursor: pointer;
    appearance: none;
    &:after {
      content: '\e5cf';
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      line-height: 24px;
      font-family: "Material Icons";
      color: $dark50;
    }
  }
}