@import "../../variables";

.checkbox, .checkbox-rich {
  max-width: 266px;
  &__input {
    position: absolute;
    left: -999px;
    opacity: 0;
    &:checked+.checkbox__label:before, 
    &:checked+.checkbox-rich__label:before {
      border-color: $purple;
    }
    &:checked+.checkbox__label:after, 
    &:checked+.checkbox-rich__label:after {
      opacity: 1;
    }
  }
  .checkbox-rich__label {
    font-weight: 700;
    color: $dark75;
  }
  &__text {
    font-size: 12px;
    line-height: 14px;
    color: $dark50;
    margin-top: 4px;
    margin-left: 30px;
  }
  &__label {
    position: relative;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    line-height: 20px;
    &:hover:before{
      border-color: $dark50;
    }
    &:before {
      content: '';
      display: inline-block;
      flex: 0 0 20px;
      height: 20px;
      border: 1px solid $dark25;
      border-radius: 4px;
      margin-right: 10px;
      transition: all 0.3s ease;
    }
    &:after {
      content: '';
      position: absolute;
      opacity: 0;
      left: 6px;
      top: 6px;
      display: inline-block;
      width: 8px;
      height: 6px;
      border-left: 2px solid transparent;
      border-bottom: 2px solid transparent;
      transform: rotate(-45deg);
      border-image: $purpleGradient;
      border-image-slice: 1;
      transition: all 0.3s ease;
    }
  }
}