.donut {
  &-hole {
    fill: #fff;
  }
  &-ring {
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
  }
  &-segment {
    fill: transparent;
    stroke-width: 4px;
    &:nth-child(3) {
      stroke-dasharray: 0 364;
      stroke-dashoffset: 0;
    }
    &:nth-child(4) {
      stroke-dasharray: 91 273;
      stroke-dashoffset: 91;
    }
    &:nth-child(5) {
      stroke-dasharray: 91 273;
      stroke-dashoffset: 0;
    }
    &:nth-child(6) {
      stroke-dasharray: 182 182;
      stroke-dashoffset: 273;
    }
  }

  .chart-text {
    fill: $purple;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
  }
  .chart-number {
    text-anchor: middle;
  }
  .chart-label {
    font-size: 12px;
    line-height: 15px;
    text-anchor: middle;
    text-transform: uppercase;
  }

}