block header
  header.header 
    .header__container.container
      a(href="index.html").header__logo
        img(src="images/dist/logo.svg", alt="Logo")
      include ../ui-kit/hamburger/hamburger
      ul.header__menu.menu
        li.menu__item
          a(href="#").menu__link.menu__link_active О нас
        li.menu__item.menu__item_dropdown
          a(href="#").menu__link Услуги
        li.menu__item
          a(href="#").menu__link Вакансии
        li.menu__item
          a(href="#").menu__link Новости
        li.menu__item.menu__item_dropdown
          a(href="#").menu__link Соглашения
      .header__services
        +btnSmallBorder("Войти", "sign-in.html")
        +btnSmall("Зарегистрироваться", "registration.html") 
    