@import "../variables";

button.btn {
  position: relative;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border: transparent;
  background: #fff;
  color: #fff;
  padding: 0;
  &_big {
    width: 320px;
    height: 44px;
    border-radius: 22px;
    background: $purpleGradient;
  }
  i {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  &_small {
    width: 99px;
    height: 44px;
    border-radius: 22px;
    background: $purpleGradient;
    &:disabled {
      opacity: 0.5;
    }
  }
  &_border {
    position: relative;
    border: 2px solid transparent;
    border-radius: 22px;
    width: 95px;
    height: 40px;
    margin: 2px;
    color: $purple;
    background: #fff;
    &:before {
      content: '';
      z-index: -1;
      border-radius: 22px;
      position: absolute;
      top: -4px;
      left: -4px;
      right: -4px;
      bottom: -4px;
      background: $purpleGradient;
    }
    &:disabled {
      opacity: 1;
      // color: rgba($purple, 0.5);
      &:before {
        opacity: 0.5;
      }
    }
  }
  &_text {
    padding: 0;
    border: none;
    height: 15px;
    color: $purple;
    &:disabled {
      color: $dark50;
    }
  }
}
