- var disabled = false;
- var arrow = true;

mixin btnBig(title, arrow)
  button.btn.btn_big
    span= title
    if arrow
      i.material-icons arrow_forward

mixin btnSmall(title, disabled)
  button(disabled=disabled).btn.btn_small= title

mixin btnSmallBorder(title, disabled)
  button(disabled=disabled).btn.btn_small.btn_border= title

mixin btnText(title, disabled)
  button(disabled=disabled).btn.btn_text= title