block footer
  footer.footer 
    .footer__top 
      .footer__container.container
        .footer__column
          a(href="#").footer__logo
            img(src="images/dist/logo.svg" alt="Logo")
          .footer__description Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer__column 
          .footer__title Навигация
          ul.footer__menu.menu 
            li.menu__item 
              a(href="about.html").menu__link О нас
            li.menu__item 
              a(href="news.html").menu__link Новости
            li.menu__item 
              a(href="support.html").menu__link Служба поддержки
            li.menu__item 
              a(href="services").menu__link Услуги
        .footer__column 
          .footer__title О нас
          ul.footer__menu.menu 
            li.menu__item 
              a(href="about-service.html").menu__link О сервисе
            li.menu__item 
              a(href="team.html").menu__link Наша команда
            li.menu__item 
              a(href="vacancies.html").menu__link Вакансии
            li.menu__item 
              a(href="investors.html").menu__link Инвесторы
        .footer__column 
          .footer__title Служба поддержки
          ul.footer__menu.menu 
            li.menu__item 
              a(href="agreements.html").menu__link Соглашения
            li.menu__item 
              a(href="community.html").menu__link Сообщества
            li.menu__item 
              a(href="contact-us.html").menu__link Связь с нами
        .footer__column
          .footer__title Подписка
          .footer__description Получайте специальные предложения и новости сервиса
          +subscriptionTextField("Email")
    .footer__bottom.container
      .footer__description Copyright © 2018 Toxin отель. Все права защищены.
      .footer__social
        a(href="https://twitter.com").footer__icon
          img(src="images/dist/twitter.svg", alt="twitter")
        a(href="https://www.facebook.com").footer__icon
          img(src="images/dist/facebook.svg", alt="facebook")
        a(href="https://www.instagram.com").footer__icon
          img(src="images/dist/instagram.svg", alt="instagram")
  script(src="js/app.min.js") 