mixin review(foto, title, date, text, idLike, countLike, checkedLike)
  .review 
    .review__column 
      img(src= foto, alt="foto").review__foto
      .review__like 
        +like(idLike, countLike, checkedLike) 
    .review__column
      .review__title= title 
      .review__date= date 
      .review__text= text