include ../like/like
mixin review(foto, title, date, text, countLike)
  .review 
    .review__column 
      img(src= foto, alt="foto").review__foto
      .review__like 
        +like("ff", countLike) 
    .review__column
      .review__title= title 
      .review__date= date 
      .review__text= text