@import "../ui-kit";
.range-slider {
  width: 266px;
  font-size: 12px;
  line-height: 15px;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__label {
    font-weight: 700;
    text-transform: uppercase;
    color: $dark;
  }
  &__value {
    color: $dark50;
    font-weight: 400;
  }
  &__slider {
    margin-top: 23px;
  }
  .noUi-base {
    height: 6px;
    border: none;
    background: transparent;
  }
  .noUi-horizontal {
    height: 6px;
    background: #fff;
    border: 1px solid $dark25;
    border-radius: 3px;
  }
  .noUi-connects {
    position: absolute;
    top: -1px;
  }
  .noUi-connect {
    height: 6px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 3px;
  }
  .noUi-handle {
    top: -5px;
    width: 14px;
    height: 14px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: none;
    &::before, &::after {
      display: none;
    }
  }
  .noUi-handle.noUi-handle-lower {
    left: 22px;
  }
  .noUi-handle.noUi-handle-upper {
    left: 17px;
  }
}