include ../checkbox/checkbox
- var checkboxListExpandable = []
mixin checkboxListExpandable(title)
  .checkbox-list-expandable
    .checkbox-list-expandable__title= title
    .checkbox-list-expandable__body 
      each item in checkboxListExpandable
        +checkbox(item)