mixin subscriptionTextField(placeholder)
  .subscription-text-field 
    input.subscription-text-field__input(type="text" placeholder=placeholder)
    button.material-icons.subscription-text-field__button arrow_forward