mixin dateDropdown(from, to)
  .date-dropdown
    .date-dropdown__select 
      label.date-dropdown__label(for="start")= from
      input.date-dropdown__input(type="text" id="start" placeholder="ДД.ММ.ГГ")
    .date-dropdown__select
      label.date-dropdown__label(for="end")= to
      input.date-dropdown__input(type="text" id="end" placeholder="ДД.ММ.ГГ")

