mixin dateDropdown(label, name, placeholder)
  .date-dropdown
    label.date-dropdown__label(for=name)= label
    input.date-dropdown__input(type="text" id=name placeholder=placeholder)
    i.material-icons.date-dropdown__arrow expand_more

