.rate {
  display: flex;
  align-items: flex-end;
  font-size: 24px;
  line-height: 0.75;
  &__body {
    position: relative;
    &:before {
      content: '\e83a\e83a\e83a\e83a\e83a';
      font-family: "Material Icons";
      display: block;
      background: $purpleGradient;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
  }
  &__active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    &::before {
      content: '\e838\e838\e838\e838\e838';
      font-family: "Material Icons";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: $purpleGradient;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__value {
    display: none;
  }
}