.pagination {
  width: 241px;
  height: 75px;
  color: $dark50;
  &__list {
    padding: 0;
    margin-bottom: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    &_active {
      background: $purpleGradient;
      border-radius: 22px;
      .pagination__link {
        font-weight: 700;
        color: #fff;
        &:hover, &:focus {
          color: #fff;
        }
      }
    }
  }
  &__separator {
    cursor: pointer;
  }
  &__next {
    background: $greenGradient;
    border-radius: 22px;
    i {
      font-size: 24px;
      line-height: 40px;
      color: #fff;
    }
  }
  &__link {
    color: $dark50;
    text-decoration: none;
    &:hover, &:focus {
      color: $purple;
      font-weight: 700;
    }
  }
  &__info {
    text-align: center;
  }
}